body, html {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, p {
    color: Dimgrey;
}

header {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: Gainsboro;
    box-sizing: border-box;
}

#logo {
    width: 90px;
    margin: 25px;
}

nav {
    display: flex;
    width: 100%;    
    height: 50px;
    background-color: Gainsboro;
    box-sizing: border-box;
}

nav ul {
    display: inline-flex;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul li {
    display: inline-flex;
    width: 100px;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
}

nav ul li a {
    margin-bottom: 25px;
    padding: 10px;
    font-size: 700;
    font-weight: 600;
    color: Dimgrey;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
}

#history-image {
    float: left;
    width: 50%;
    margin: 2px 20px 10px 0px;
    box-sizing: border-box;
}

#today-image {
    float: right;
    width: 50%;
    margin: 2px 0px 10px 20px;
    box-sizing: border-box;
}

p {
    text-align: justify;
}

.info {
    width: 85%;
    margin: 0 auto;
    padding: 10px 30px;
}

footer {
    padding: 20px 10px;
    background-color: Gainsboro;
    text-align: center;
    margin-top: 20px;
}

footer p {
    margin: 12px auto;
    text-align: center;
    color: Dimgrey;
}

footer div {
    margin-bottom: 15px;
}

footer div a {
    margin-left: 15px;
    color: Dimgrey;
    font-weight: bold;
    font-size: large;
}

footer a {
    text-decoration: none;
    color: Dimgrey;
}

footer span a {
    background-color: Dimgrey;
    color: Gainsboro;
    padding: 2px 5px 2px 5px;
    border-radius: 0px;
}

/*Animation*/
@keyframes display {
    0% {      
        opacity: 0;
    }
    10% {      
        opacity: 1;
    }
    20% {      
        opacity: 1;
    }
    30% {      
        opacity: 0;
    }
    100% {      
        opacity: 0;
    }
}
  
.carousel {
    background-image: url("../img/texture.jpg");    
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
}

.carousel > img {
    position: absolute;
    top: 25px;
    left: calc(50% - 224px);
    border: 1px solid Gainsboro;
    opacity: 0;
    animation: display 25s infinite;
}

img:nth-child(1) {
    animation-delay: 5s;
}
img:nth-child(2) {
    animation-delay: 10s;
}
img:nth-child(3) {
    animation-delay: 15s;
}
img:nth-child(4) {
    animation-delay: 20s;
}
img:nth-child(5) {
    animation-delay: 25s;
}

/* Mobile */
@media only screen and (min-width: 320px) and (orientation: portrait) {
    #hidden {
        display: none;
    }
}

/* Desktop */
@media only screen and (min-width: 1024px) {
    nav ul li a:hover {
        background-color: Dimgrey;
        color: Gainsboro;
    }

    section {
        display: flex;
        width: 100%;    
    }

    h2 {
        justify-content: center;
        text-align: center;
    }

    p {
        text-align: justify;
    }

    #history-image, #today-image {
        width: 100%;
        margin-bottom: 20px;
    }  
}
